$main-text-color: #e4e5ea;
$small-headlines-color: #656566;
$main-background: #0e1014;
$main-button-color: #4077f3;
$mobile-menu-background: #0e1014;
$secondary-button-color: rgb(79, 132, 255);
$gradient-for-text: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
$gradient-welbex: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
$Montserrat: "Montserrat", sans-serif;
$Montserrat-300: 300;
$Montserrat-400: 400;
$Inter: "Inter", sans-serif;
$Inter-400: 400;
$Inter-500: 500;
$Inter-700: 700;
$Inter-900: 900;
$main-text-size: 16px;
$main-text-mobile-size: 14px;
$main-heading-size: 48px;
$main-heading-mobile-size: 36px;
$content-headings-size: 18px;
$mobile-content-text-size: 13px;
$footer-headings-size: 14px;
$mobile-footer-headings-size: 12px;
$mobile-footer-text-size: 14px;
$line-height: 1.2;
$main-offset: 20px;
$flank-margin: 10px;
$breakpoint_xxl: 1040px;
$breakpoint_xl: 900px;
$breakpoint_tablet: 768px;

