@import "../../sass/variables.scss";

.purple-ball {
  position: absolute;
  top: -2px;
  left: 56%;
  fill: radial-gradient(
    82.3% 82.3% at 27.25% 26.5%,
    rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 59.67%,
    rgba(118, 49, 164, 0.21) 78.59%,
    rgba(86, 24, 128, 0.23) 100%
  );
  filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
  backdrop-filter: blur(2px);
  animation: purple-ball 7s linear infinite;
  z-index: -1;
}

@keyframes purple-ball {
  0% {
    transform: scale(1, 1) translateY(15px);
  }
  25% {
    transform: scale(1, 1) translateY(7px);
  }
  50% {
    transform: scale(1, 1) translateY(15px);
  }
  75% {
    transform: scale(1, 1) translateY(7px);
  }
  100% {
    transform: scale(1, 1) translateY(15px);
  }
}

.big-red-ball {
  position: absolute;
  top: 70px;
  left: 40%;
  fill: radial-gradient(
    82.3% 82.3% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.54) 0%,
    rgba(212, 93, 93, 0.26) 59.67%,
    rgba(167, 49, 49, 0.25) 78.59%,
    rgba(130, 25, 25, 0.25) 100%
  );
  filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
  backdrop-filter: blur(2px);
  animation: red-ball 10s linear infinite;
  z-index: -1;
}

@keyframes red-ball {
  0% {
    transform: scale(1, 1) translateY(-10px);
  }
  25% {
    transform: scale(1, 1) translateY(10px);
  }
  50% {
    transform: scale(1, 1) translateY(-10px);
  }
  75% {
    transform: scale(1, 1) translateY(10px);
  }
  100% {
    transform: scale(1, 1) translateY(-10px);
  }
}

.small-red-ball {
  position: absolute;
  top: 54%;
  left: 54%;
  fill: radial-gradient(
    82.3% 82.3% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.48) 0%,
    rgba(212, 93, 93, 0.25) 59.67%,
    rgba(167, 49, 49, 0.26) 78.59%,
    rgba(130, 25, 25, 0.23) 100%
  );
  filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25)) blur(2.5px);
  backdrop-filter: blur(2px);
  animation: red-ball 8s linear infinite;
  z-index: -1;
}

@media (max-width: $breakpoint_xl) {
  .purple-ball {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 300px;
    left: 90%;
    right: -16px;
    fill: radial-gradient(
      82.3% 82.3% at 27.25% 26.5%,
      rgba(236, 208, 255, 0.64) 0%,
      rgba(161, 93, 207, 0.24) 59.67%,
      rgba(118, 49, 164, 0.21) 78.59%,
      rgba(86, 24, 128, 0.23) 100%
    );
    filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
    backdrop-filter: blur(2px);
    animation: purple-ball 7s linear infinite;
  }

  .big-red-ball {
    display: none;
  }

  .small-red-ball {
    position: absolute;
    top: 470px;
    left: 29px;
    fill: radial-gradient(
      82.3% 82.3% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.48) 0%,
      rgba(212, 93, 93, 0.25) 59.67%,
      rgba(167, 49, 49, 0.26) 78.59%,
      rgba(130, 25, 25, 0.23) 100%
    );
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25)) blur(2.5px);
    backdrop-filter: blur(2px);
    animation: red-ball 8s linear infinite;
  }
}


